<div class="dashboard-container">
  <div class="left-side">
    <h4 class="bar-chart-heading">Vendor breakdown</h4>
    <p class="bar-chart-subheading">Keep track of vendors and their security</p>
    <div class="chart-area-box">
      <div id="bar-chart"></div>
    </div>
    <button class="report-btn">View full report</button>
  </div>

  <div class="right-side">
    <h4 class="gauge-heading">Vendors monitored</h4>
    <p class="usage-info">You're using 80% of available spots.</p>
    <div class="chart-area-gauge-chart">
      <div id="gauge-chart"></div>
      <div class="warning-msg">
        <h4>You've almost reached your limit</h4>
        <h5>You Have used 80% of availability spots Upgrade Plan to monitor more vendeor</h5>
      </div>
    </div>
    <button class="upgrade-btn">Upgrade plan</button>
  </div>
</div>
