<div class="sidebar">
  <div class="top-section">
    <ul class="nav-icons">
      <li><i class="fas fa-house"></i></li>
      <li><i class="fas fa-chart-column"></i></li>
      <li><i class="fas fa-shield-halved"></i></li>
      <li><i class="fas fa-users"></i></li>
      <li><i class="fas fa-gear"></i></li>
      <li><i class="fas fa-ellipsis-vertical"></i></li>
    </ul>
  </div>

  <div class="user-section">
    <div class="user-avatar">
      <img src="https://i.pravatar.cc/40?img=2" alt="User" />
    </div>
  </div>
</div>
