<div class="user-table" *ngIf="columns.length && userRows.length">
  <div class="team-member">
    <h1>Team Members</h1>
    <span class="team-helight">{{ userRows.length }} Users</span>
  </div>
  <table>
    <thead>
      <tr class="column-name">
        <th>
          <input type="checkbox" (change)="toggleAllUsers($event)" />
        </th>
        <th *ngFor="let item of columns">{{ item?.column_name }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers; let i = index">
        <td>
          <input type="checkbox" [(ngModel)]="user.checked"/>
        </td>

        <td>
          <div class="user-avatar">
            <img src="https://i.pravatar.cc/40?img=2" alt="User" />
            <span class="names">
              {{user.name.first_name}}
              {{user.name.handle}}
            </span>
          </div>
        </td>

        <td>
          <span
            class="status"
            [ngStyle]="{
              'background-color':
                user.status === 'Customer' ? '#b9fac1' : '#dbdbdb'
            }"
          >
            {{ user.status }}
          </span>
        </td>

        <td class="roles">{{ user.role }}</td>

        <td>
          <div class="progress-row">
            <div class="progress-container">
              <div
                class="progress-bar"
                [style.width.%]="user.license_used"
              ></div>
            </div>
            <div class="progress-text">{{ user.license_used }}%</div>
          </div>
        </td>

        <td>
          <span
            *ngFor="let team of user.teams"
            class="tag"
            [ngStyle]="{
              color: team.text_color,
              'background-color': team.background_color
            }"
          >
            {{ team.value }}
          </span>
        </td>
        <td>
          <i class="fa-solid fa-pen" (click)="editData(user)" ></i>
          <i class="fa-solid fa-trash-can"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <div class="pagination-button">
      <button
        *ngFor="let page of totalPagesArray"
        (click)="setPage(page)"
        [class.active]="page === currentPage"
      >
        {{ page }}
      </button>
    </div>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</div>
<app-edit-table *ngIf="isedit" (closebtn)="closeEdit($event)" [userData]="userData" ></app-edit-table>
